@{
    ViewData["Title"] = "Home Page";
}

@if (this.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome @this.User.Identity.Name</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Please log in to use Junior Assign.</h1>
    </div>
}



